<h2 mat-dialog-title>Add new Integration Server</h2>
<mat-dialog-content class="mat-typography middialog" [formGroup]="aceForm">

     <mat-form-field>
          <input matInput class="form-control" placeholder="Group" required formControlName="group" name='group'>
          <mat-error *ngIf="hasError('group', 'required')">should not be empty</mat-error>
          <mat-hint align="end">Prod, Test, INTGroup01</mat-hint>
     </mat-form-field>
     <mat-form-field>
          <input matInput class="form-control" placeholder="Integration Node hostname" required
               formControlName="hostname" name='hostname'>
          <mat-error *ngIf="hasError('hostname', 'required')">Min length must be 6</mat-error>
     </mat-form-field>
     <mat-form-field>
          <input matInput class="form-control" type="number" placeholder="Integration Node port" required
               formControlName="port" name='port'>
          <mat-error *ngIf="hasError('port', 'required')">should not be empty</mat-error>
     </mat-form-field>
     <mat-form-field>
          <mat-select matInput class="form-control" placeholder="Authority" formControlName="auth" #auth name='auth'>
               <mat-option value="">No</mat-option>
               <mat-option value="basic">Basic</mat-option>
          </mat-select>
     </mat-form-field>
     <mat-form-field *ngIf="auth.value == 'basic'">
          <input matInput class="form-control" placeholder="User name" formControlName="usrname" name='usrname'>
     </mat-form-field>
     <mat-form-field *ngIf="auth.value == 'basic'">
          <input matInput class="form-control" placeholder="Password" formControlName="usrpass" name='usrpass'>
     </mat-form-field>
     <mat-form-field>
          <mat-select matInput class="form-control" placeholder="SSL" formControlName="ssl" #ssl name='ssl'>
               <mat-option value="">No</mat-option>
               <mat-option value="yes">Yes</mat-option>
          </mat-select>
     </mat-form-field>
     <mat-form-field *ngIf="ssl.value == 'yes'">
          <input matInput class="form-control" placeholder="SSL Key" formControlName="sslkey" name='sslkey'>
          <mat-hint align="end">c:\key.jks</mat-hint>
     </mat-form-field>
     <mat-form-field *ngIf="ssl.value == 'yes'">
          <input matInput class="form-control" placeholder="SSL Key password" formControlName="sslpass" name='sslpass'>
          <mat-hint align="end">123456</mat-hint>
     </mat-form-field>
     <mat-form-field *ngIf="ssl.value == 'yes'">
          <input matInput class="form-control" placeholder="SSL Cipher" formControlName="sslcipher" name='sslcipher'>
          <mat-hint align="end">TLS_RSA_WITH_AES_256_GCM_SHA384</mat-hint>
     </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions align="end">
     <button mat-button mat-dialog-close>Cancel</button>
     <button mat-raised-button color="primary" [disabled]="!aceForm.valid" (click)="createQM()">Add</button>
</mat-dialog-actions>